<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <minicart>
            <general>
                <is_slide>1</is_slide>
                <auto_open>1</auto_open>
                <show_overlay>1</show_overlay>
            </general>
        </minicart>
    </default>
</config>
